*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    scroll-behavior:smooth;
    font-family:'Poppins',sans-serif;
}

body{
    background:#0f0f0f;
    color:white;
}

/* Navigation */

nav{
    position:fixed;
    top:0;
    width:100%;
    padding:20px 8%;
    display:flex;
    justify-content:space-between;
    align-items:center;
    background:rgba(0,0,0,.85);
    backdrop-filter:blur(10px);
    z-index:999;
}

.logo{
    font-size:32px;
    font-weight:700;
    color:#d4af37;
    letter-spacing:2px;
}

nav ul{
    display:flex;
    list-style:none;
    gap:35px;
}

nav a{
    color:white;
    text-decoration:none;
    font-size:17px;
    transition:.3s;
}

nav a:hover{
    color:#d4af37;
}

/* Hero */

header{
    height:100vh;

    background:
    linear-gradient(rgba(0,0,0,.65),rgba(0,0,0,.65)),
    url("https://images.unsplash.com/photo-1568901346375-23c9450c58cd?auto=format&fit=crop&w=1600&q=80");

    background-size:cover;
    background-position:center;

    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;
}

.hero h1{

    font-size:80px;
    color:#d4af37;
    margin-bottom:15px;
}

.hero p{

    font-size:28px;
    margin-bottom:40px;
}

.btn{

    display:inline-block;

    padding:18px 45px;

    background:#d4af37;

    color:black;

    text-decoration:none;

    border-radius:50px;

    font-weight:bold;

    transition:.3s;
}

.btn:hover{

    transform:translateY(-5px);

    background:white;

}

/* Responsive */

@media(max-width:900px){

.hero h1{

font-size:48px;

}

.hero p{

font-size:20px;

}

nav{

padding:20px;

}

nav ul{

display:none;

}

}
